.animal-card {
    width: 290px;
    text-align: left;
}

.animal-img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.animal-item {
    margin-top: 10px;
    font-weight: bold;
}
