.footer {
    width: 100%;
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    color: #494949;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    position: relative;  /* Added this */
}

.footer-column {
    flex: 1;
    min-width: 220px;
    margin: 10px;
}

.footer-column h4 {
    font-weight: 700;
    margin-bottom: 10px;
    color: black;
}

.footer-column p {
    margin: 5px 0;
}

.footer-info {
    text-align: center;
    flex-basis: 100%;
    margin-top: 20px;
}

.footer-about {
    text-align: right;
}