/* General Styles */
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Page Layout */
html {
    height: 100%;
}

.main-content {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    flex: 1;
}

footer {
    flex-shrink: 0;
}

/* Hero Section */
.hero-title {
    text-align: center;
    margin-top: 20px;
}

.hero-subtitle {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

/* Search Bar */
.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px auto;
    background-color: #E9E9E9;
    border-radius: 5px;
    padding: 10px;
    width: fit-content;
}

/* Search Elements Common Styles */
.search-element {
    height: 45px;
    border-radius: 5px;
}

/* Specific Search Elements */
.search-category {
    border: none;
    background: transparent;
    outline: none;
    padding: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.search-input {
    width: 300px;
    background-color: #F8F8F8;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px 20px;
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white; /* Text color */
}

/* Style the search icon within the button */
.search-icon {
    width: 16px;
    height: 16px;
}

/* Custom Dropdown */
.custom-dropdown {
    display: flex;
    align-items: center;
    background-color: #E9E9E9;
    padding: 7px;
    border-radius: 5px;
}

.dropdown-icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

/* Arrow Icon */
.arrow-icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}